{% extends 'books/base.html' %}
{% load static %}

{% block title %}Edit Book{% endblock %}

{% block content %}
    <script src="{% static 'js/bookcase.js' %}"></script>
    {{ form.media }}
    <article>
        <h5>Edit Book</h5>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <div class="error-text padding">
                    <i>error</i>
                    <span>Please correct the errors below</span>
                </div>
            {% endif %}

            <div class="field label border {% if form.title.errors %}invalid {% endif %}">
                {{ form.title }}
                <label>Title</label>
                {% if form.title.errors %}
                    <output class="invalid">{{ form.title.errors.0 }}</output>
                {% endif %}
            </div>

            <div class="field label border suffix {% if form.authors.errors %}invalid{% endif %}">
                {{ form.authors }}
                <label class="active">Authors</label>
                <i>arrow_drop_down</i>
                {% if form.authors.errors %}
                    <output class="invalid">{{ form.authors.errors.0 }}</output>
                {% endif %}
            </div>

            <div class="field label border {% if form.isbn.errors %}invalid{% endif %}">
                {{ form.isbn }}
                <label>ISBN</label>
                {% if form.isbn.errors %}
                    <output class="invalid">{{ form.isbn.errors.0 }}</output>
                {% endif %}
            </div>

            <div class="field label border {% if form.publication_year.errors %}invalid{% endif %}">
                {{ form.publication_year }}
                <label>Publication Year</label>
                {% if form.publication_year.errors %}
                    <span class="invalid">{{ form.publication_year.errors.0 }}</span>
                {% endif %}
            </div>

            <div class="space"></div>

            {% include "books/_shelf-selector.html" with prefix="edit" field=form.shelf shelf=object.shelf %}

            <nav>
                <button type="submit" class="button">
                    <i>save</i>
                    <span>Save</span>
                </button>
                <a href="{% url 'book-detail' object.pk %}" class="button border">
                    <i>cancel</i>
                    <span>Cancel</span>
                </a>
            </nav>
        </form>
    </article>
{% endblock content %}
