{% load django_htmx %}
{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}WAMB - Where Are My Books{% endblock %}</title>
        <link href="{% static "css/beer.min.css" %}" rel="stylesheet"/>
        <link href="{% static "css/style.css" %}" rel="stylesheet"/>
        <script type="module" src="{% static "js/beer.min.js" %}"></script>
        {% htmx_script %}
    </head>
    <body class="light" hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
        {% block nav %}{% endblock %}
        <main class="responsive">{% block content %}{% endblock %}</main>
    </body>
</html>
