{% extends "books/base.html" %}

{% block content %}
    <article class="padding">
        <div class="no-padding">
            <h3>
                <i>waving_hand</i>
                Welcome
            </h3>
        </div>
        <div>
            {% if user.can_view %}
                <p>
                    We have {{ total_number_of_books }} books.
                </p>
                <p>
                    Latest books:
                    <ul class="left-padding">
                        {% for book in latest_books %}
                            <li>
                                <a href="{% url "book-detail" pk=book.pk %}">
                                    {{ book }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </p>
            {% else %}
                <p>
                    You don't have permissions to view anything.
                </p>
            {% endif %}
        </div>
    </article>
{% endblock content %}
