{% extends "books/base.html" %}

{% block content %}
    <article class="padding">
        <div class="no-padding">
            <h3>Welcome</h3>
        </div>
        <div>
            <p>
                We have {{ total_number_of_books }} books.
            </p>
            <p>
                Latest books:
                <ul class="padding">
                    {% for book in latest_books %}
                        <li>
                            <a href="{% url "book-detail" pk=book.pk %}">
                                {{ book }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </p>

        </div>
    </article>
{% endblock content %}
