{% extends "books/base.html" %}

{% block content %}
    <article class="padding">
        <div class="no-padding">
            <h3>
                <i>shelves</i>
                Bookcases

                {% if request.user.can_change %}
                    <a href="{% url 'bookcase-create' %}" class="button right absolute">
                        <i>add</i>
                        <span class="max l m">Add New Bookcase</span>
                    </a>
                {% endif %}
            </h3>
        </div>

        {% if bookcases %}
            <table class="border">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th class="center-align">Books</th>
                        <th class="center-align">Shelves</th>
                        <th>Created</th>
                        <th class="center-align">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bookcase in bookcases %}
                        <tr>
                            <td>
                                <a href="{% url 'bookcase-update' bookcase.pk %}"
                                >{{ bookcase.name }}</a
                                    >
                                </td>
                                <td class="center-align">{{ bookcase.num_books }}</td>
                                <td class="center-align">{{ bookcase.num_shelves }}</td>
                                <td>{{ bookcase.created_at|date:"Y-m-d" }}</td>
                                <td class="center-align">
                                    <a
                                        href="{% url 'bookcase-detail' bookcase.pk %}"
                                        class="button small-round"
                                    >
                                        <i>visibility</i>
                                    </a>
                                    <a
                                        href="{% url 'bookcase-update' bookcase.pk %}"
                                        class="button small-round"
                                    >
                                        <i>edit</i>
                                    </a>
                                </td>
                            </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="center-align">
                                No book cases found.
                                <a href="{% url 'bookcase-create' %}">Create one now</a>.
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="padding">
                <p>
                    No book cases found.
                    <a href="{% url 'bookcase-create' %}">Create one now</a>.
                </p>
            </div>
        {% endif %}
    </article>
{% endblock content %}
