SECRET_KEY="something secret"
SENTRY_DSN=
DEBUG=False
# we can attach /db/ as a volume so keep the db
DB_PATH=/db/db.sqlite3
# workaround for gunicorn
HOME=/tmp
BASE_URL=https://...
SECURE_PROXY_SSL_HEADER_NAME=HTTP_X_FORWARDED_PROTO

# Google auth settings
SOCIAL_AUTH_GOOGLE_OAUTH2_KEY=
SOCIAL_AUTH_GOOGLE_OAUTH2_SECRET=
# if set the app will serve media files
# it's recommended to do that via a reverse proxy like nginx
SERVE_MEDIA_FILES=False
# if set the app will download image files like book covers or author image
# if not then it will try to hotlink to the images, this might be forbidden on their side
DOWNLOAD_IMAGES=True
