<div class="grid">
    {% for book in books %}
        <div class="s6 m4 l3">
            <a href="{% url "book-detail" pk=book.pk %}">
            <article class="no-padding border">
                <img class="responsive medium" src="{% include "books/_cover-src.html" with book=book %}">
            {% if not book.cover %}
              <div class="row absolute bottom left right padding bottom-shadow white-text">
                <h5> {{ book.title }}</h5>
              </div>
              {% endif %}
            </article>
            </a>
        </div>
    {% endfor %}
</div>

<style>
article img {
    min-height: 420px;
}
</style>
