{% extends 'books/base.html' %}

{% block title %}Books{% endblock %}

{% block content %}
    <article class="padding">
        <div class="no-padding">
            <h3>
                <i>book_2</i>
                Books

                {% for name, icon in view_modes %}
                    <a class="button small small-round" href="{% querystring request.GET view=name %}" {% if name == view_mode %}disabled{% endif %}>
                        <i>{{ icon }}</i>
                        <span class="max m l">{{ name|title }}</span>
                    </a>
                {% endfor %}

                <a href="{% url 'book-create' %}" class="button right absolute">
                    <i>add</i>
                    <span class="max l">Add New Book</span>
                </a>
            </h3>
        </div>

        <form method="GET" action="">
            <div class="grid">
                <div class="s12 m4">
                    <div class="field label prefix border small">
                        <i>search</i>
                        <input type="text" name="search" value="{% if filter_data.search %}{{ filter_data.search }}{% endif %}">
                        <label>Search</label>
                    </div>
                </div>
                <div class="s12 m4">
                    <div class="field label suffix border small">
                        <select name="author">
                            <option value="">-</option>
                            {% for author in authors %}
                                <option value="{{ author.id }}" {% if filter_data.author == author.id %}selected {% endif %}>{{ author.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Author</label>
                        <i>arrow_drop_down</i>
                    </div>
                </div>

                <div class="s12 m3">
                    <div class="field label suffix border small">
                        <select name="bookcase">
                            <option value="">-</option>
                            {% for bookcase in bookcases %}
                                <option value="{{ bookcase.id }}" {% if filter_data.bookcase == bookcase.id %}selected{% endif %}> {{ bookcase.name }}</option>
                            {% endfor %}
                        </select>
                        <label>Bookcase</label>
                        <i>arrow_drop_down</i>
                    </div>
                </div>
                <div class="s12 m1">
                    <div class="field">
                        <button>Search</button>
                    </div>
                </div>
            </div>
        </form>

        {% if books %}
            {% include "books/book/list/_"|add:view_mode|add:".html" %}

            {% if is_paginated %}
                {% include "books/_pagination.html" %}
            {% endif %}
        {% else %}
            <div class="padding">
                <p>
                    No books found.
                    <a href="{% url 'book-create' %}">Create one now</a>.
                </p>
            </div>
        {% endif %}
    </article>
{% endblock content %}
