<div class="grid" {% if not field.value %}hidden{% endif %}>
    <div class="field label border s10 m10 l7">
        <input type="text" id="{{ prefix }}-display" disabled {% if shelf %}value="{{ shelf.bookcase.name }} {{ shelf.location }}"{% endif %}/>
        <label>Shelf</label>
        <output>Which shelf the book should be assigned to.</output>
    </div>
    <button class="button s1 m1 l4" id="{{ prefix }}-another">
        <i>search</i>
        <span class="l">Select another</span>
    </button>
    <button class="button s1 m1 l1" id="{{ prefix }}-clear">
        <i>clear</i>
    </button>
</div>


<div {% if field.value %}hidden{% endif %}>
    <div class="field">
        <button id="{{ prefix }}-btn">Select shelf</button>
    </div>
</div>

<input type="hidden" name="shelf" id="{{ prefix }}-value" {% if field.value %}value="{{ field.value }}"{% endif %}/>

<div class="overlay" id="{{ prefix }}-overlay"></div>
<dialog class="top" id="{{ prefix }}-dialog" closedby="any">
    <div class="field label prefix border round">
        <i>search</i>
        <input type="text" id="{{ prefix }}-bookcase-search">
        <label>Search for bookcase</label>
    </div>

    <div class="space"></div>

    <button class="chip listing" hidden><i>arrow_back</i>back</button>

    <div class="results"></div>
    <nav class="right-align">
        <button class="border cancel">Cancel</button>
    </nav>
</dialog>

<script>
    /* the variables look reusable but they aren't because when htmx tries to add
     * them to the page again it fails because they have been already declared */
    function selectionCallback(name, cell) {
        const {{ prefix }}Button = document.getElementById("{{ prefix }}-btn");
        const {{ prefix }}Value = document.getElementById("{{ prefix }}-value");
        const {{ prefix }}Display = document.getElementById("{{ prefix }}-display");

        // use setAttribute instead of toggleAttribute because of `Select another` button
        {{ prefix }}Button.parentNode.parentNode.setAttribute("hidden", "");

        {{ prefix }}Value.value = cell.id;
        {{ prefix }}Display.value = name + " " + cell.location;
        {{ prefix }}Display.parentNode.parentNode.removeAttribute("hidden");
    }
    function clearCallback() {
        const {{ prefix }}Button = document.getElementById("{{ prefix }}-btn");
        const {{ prefix }}Value = document.getElementById("{{ prefix }}-value");
        const {{ prefix }}Display = document.getElementById("{{ prefix }}-display");

        {{ prefix }}Value.value = "";
        {{ prefix }}Button.parentNode.parentNode.removeAttribute("hidden");
        {{ prefix }}Display.parentNode.parentNode.setAttribute("hidden", "");
    }
    new ShelfSelector("{{ prefix }}", selectionCallback, clearCallback);
</script>
