{% extends "base.html" %}

{% block nav %}
    <nav class="left max l">
        <header>
            <nav>
                <i class="circle extra primary padding">auto_stories</i>
                <h6>WAMB</h6>
            </nav>
        </header>
        <a href="{% url 'index' %}">
            <i>home</i>
            <div>Home</div>
        </a>
        {% if request.user.can_view %}
            <a href="{% url 'book-list' %}">
                <i>book_2</i>
                <div>Books</div>
            </a>
            <a href="{% url 'bookcase-list' %}">
                <i>shelves</i>
                <div>Bookcases</div>
            </a>
            <a href="{% url 'author-list' %}">
                <i>person_search</i>
                <div>Authors</div>
            </a>
        {% endif %}
        {% if request.user.can_manage_users %}
            <a href="{% url 'user-list' %}">
                <i>group</i>
                <div>Users</div>
            </a>
        {% endif %}
    </nav>

    <nav class="left m">
        <header>
            <i class="circle extra primary padding">auto_stories</i>
        </header>
        <a href="{% url 'index' %}">
            <i>home</i>
            <div>Home</div>
        </a>
        {% if request.user.can_view %}
            <a href="{% url 'book-list' %}">
                <i>book_2</i>
                <div>Books</div>
            </a>
            <a href="{% url 'bookcase-list' %}">
                <i>shelves</i>
                <div>Bookcases</div>
            </a>
            <a href="{% url 'author-list' %}">
                <i>person_search</i>
                <div>Authors</div>
            </a>
        {% endif %}
        {% if request.user.can_manage_users %}
            <a href="{% url 'user-list' %}">
                <i>group</i>
                <div>Users</div>
            </a>
        {% endif %}
    </nav>

    <nav class="bottom s">
        <a href="{% url 'index' %}">
            <i>home</i>
            <div>Home</div>
        </a>
        {% if request.user.can_view %}
            <a href="{% url 'book-list' %}">
                <i>book_2</i>
                <div>Books</div>
            </a>
            <a href="{% url 'bookcase-list' %}">
                <i>shelves</i>
                <div>Bookcases</div>
            </a>
            <a href="{% url 'author-list' %}">
                <i>person_search</i>
                <div>Authors</div>
            </a>
        {% endif %}
    </nav>
{% endblock nav %}
