{% extends 'base.html' %} {% block title %}{% if object %}Edit Book Shelf{% else
    %}New Book Shelf{% endif %}{% endblock %} {% block content %}
        <article>
            <h3>
                {% if object %}Edit Book Shelf{% else %}Create New Book Shelf{% endif %}
            </h3>

            <form method="post">
                {% csrf_token %} {% if form.errors %}
                    <div class="error-text padding">
                        <i>error</i>
                        <span>Please correct the errors below</span>
                    </div>
                {% endif %}

                <div class="field label border">
                    {{ form.name }}
                    <label>Name</label>
                    {% if form.name.errors %}
                        <span class="error">{{ form.name.errors.0 }}</span>
                    {% endif %}
                </div>

                <div class="field">
                    <label class="slider">
                        <input
                            type="range"
                            name="{{ form.vertical_position.name }}"
                            id="id_{{ form.vertical_position.name }}"
                            min="0"
                            max="10"
                            step="1"
                            value="{{ form.vertical_position.value|default:0 }}"
                        />
                        <span></span>
                        <div class="tooltip"></div>
                    </label>
                    <label>Vertical Position</label>
                    <span class="helper"
                    >Vertical position of the shelf. 0 is ground level.</span
                        >
                        {% if form.vertical_position.errors %}
                            <span class="error">{{ form.vertical_position.errors.0 }}</span>
                        {% endif %}
                    </div>

                    <div class="field">
                        <label class="slider">
                            <input
                                type="range"
                                name="{{ form.horizontal_position.name }}"
                                id="id_{{ form.horizontal_position.name }}"
                                min="0"
                                max="10"
                                step="1"
                                value="{{ form.horizontal_position.value|default:0 }}"
                            />
                            <span></span>
                            <div class="tooltip"></div>
                        </label>
                        <label>Horizontal Position</label>
                        <span class="helper">Horizontal position from left to right.</span>
                        {% if form.horizontal_position.errors %}
                            <span class="error">{{ form.horizontal_position.errors.0 }}</span>
                        {% endif %}
                    </div>

                    <div class="space"></div>

                    <nav>
                        <button type="submit" class="button">
                            <i>save</i>
                            <span>Save</span>
                        </button>
                        <a
                            href="{% url 'bookcase-detail' view.kwargs.bookcase_pk %}"
                            class="button border"
                        >
                            <i>cancel</i>
                            <span>Cancel</span>
                        </a>
                    </nav>
                </form>
            </article>
    {% endblock %}
