{% extends 'base.html' %} {% block title %}Delete Book Shelf{% endblock %} {%
block content %}
<article>
    <h3>Delete Book Shelf</h3>

    <div class="large-space"></div>

    <p class="large-text">
        Are you sure you want to delete
        <strong>{{ bookshelf.name }}</strong> from
        <strong>{{ bookshelf.bookcase.name }}</strong>?
    </p>

    <div class="space"></div>

    {% if bookshelf.books.count > 0 %}
        <div class="padding round yellow-border">
            <nav>
                <i class="amber-text">warning</i>
                <div>
                    <strong>Warning:</strong> This shelf contains {{
                    bookshelf.books.count }} book(s) which will also be deleted.
                </div>
            </nav>
        </div>
        <div class="space"></div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <nav>
            <button type="submit" class="button">
                <i>delete</i>
                <span>Yes, Delete</span>
            </button>
            <a
                href="{% url 'bookshelf-detail' bookshelf.pk %}"
                class="button border"
            >
                <i>cancel</i>
                <span>Cancel</span>
            </a>
        </nav>
    </form>
</article>
{% endblock %}
