{% extends 'base.html' %} {% block title %}{{ bookshelf.name }}{% endblock %} {%
block content %}
<article>
    <nav>
        <a
            href="{% url 'bookcase-detail' bookshelf.bookcase.pk %}"
            class="button border"
        >
            <i>arrow_back</i>
            <span>Back to {{ bookshelf.bookcase.name }}</span>
        </a>
        <div class="max"></div>
        <a
            href="{% url 'bookshelf-update' bookshelf.bookcase.pk bookshelf.pk %}"
            class="button"
        >
            <i>edit</i>
            <span>Edit</span>
        </a>
    </nav>

    <h3>{{ bookshelf.name }}</h3>

    <div class="space"></div>

    <div class="grid">
        <div class="s12 m6">
            <div class="field label border">
                <input type="text" value="{{ bookshelf.name }}" readonly />
                <label>Name</label>
            </div>
        </div>
        <div class="s12 m6">
            <div class="field label border">
                <input
                    type="text"
                    value="{{ bookshelf.bookcase.name }}"
                    readonly
                />
                <label>Book Case</label>
            </div>
        </div>
        <div class="s12 m6">
            <div class="field label border">
                <input
                    type="text"
                    value="{{ bookshelf.vertical_position }}"
                    readonly
                />
                <label>Vertical Position</label>
            </div>
        </div>
        <div class="s12 m6">
            <div class="field label border">
                <input
                    type="text"
                    value="{{ bookshelf.horizontal_position }}"
                    readonly
                />
                <label>Horizontal Position</label>
            </div>
        </div>
    </div>
</article>

<article class="no-padding">
    <div class="padding">
        <h5>Books on this Shelf</h5>
        <nav>
            <a href="{% url 'book-create' %}" class="button">
                <i>add</i>
                <span>Add New Book</span>
            </a>
        </nav>
    </div>

    {% if bookshelf.books.all %}
        <table class="border">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>ISBN</th>
                    <th class="center-align">Position</th>
                    <th class="center-align">Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for book in bookshelf.books.all %}
                    <tr>
                        <td>
                            <a href="{% url 'book-detail' book.pk %}"
                            >{{ book.title }}</a
                                >
                            </td>
                            <td>
                                {% for author in book.authors.all %} {{ author.name }}{% if
                                    not forloop.last %}, {% endif %} {% empty %} - {% endfor %}
            </td>
            <td>{{ book.isbn|default:"-" }}</td>
            <td class="center-align">{{ book.position }}</td>
            <td class="center-align">
                <a
                    href="{% url 'book-detail' book.pk %}"
                    class="button small-round"
                >
                    <i>visibility</i>
                </a>
                <a
                    href="{% url 'book-update' book.pk %}"
                    class="button small-round"
                >
                    <i>edit</i>
                </a>
            </td>
        </tr>
    {% endfor %}
</tbody>
</table>
{% else %}
    <div class="padding">
        <p>
            No books on this shelf yet.
            <a href="{% url 'book-create' %}">Add one now</a>.
        </p>
    </div>
{% endif %}
</article>
{% endblock %}
