{% extends "base.html" %}

{% block title %}{% if object %}Edit Book Case{% else %}New Book Case{% endif %}{% endblock %}

{% block content %}
    <article>
        <h3>
            {% if object %}Edit Book Case{% else %}Create New Book Case{% endif %}
        </h3>

        <form method="post">
            {% csrf_token %} {% if form.errors %}
                <div class="error-text padding">
                    <i>error</i>
                    <span>Please correct the errors below</span>
                </div>
            {% endif %}

            <div class="field label border">
                {{ form.name }}
                <label>Name</label>
                {% if form.name.errors %}
                    <span class="error">{{ form.name.errors.0 }}</span>
                {% endif %}
            </div>

            <div class="field textarea label border">
                {{ form.description }}
                <label>Description</label>
                {% if form.description.errors %}
                    <span class="error">{{ form.description.errors.0 }}</span>
                {% endif %}
            </div>

            <div class="space"></div>

            <div class="row">
                <div class="field border label max">
                    <input name="rows" type="number" value="2"/>
                    <label>Rows</label>
                </div>
                <div class="field border label max">
                    <input name="columns" type="number" value="2"/>
                    <label>Columns</label>
                </div>
                <button class="large" id="mergeTableCellsButton" disabled>Merge selected</button>
            </div>

            <div class="space"></div>

            <div id="bookcaseTableContainer"></div>

            <div class="space"></div>

            <input type="text" name="config" id="configInput"/>

            <nav>
                <button type="submit" class="button">
                    <i>save</i>
                    <span>Save</span>
                </button>
                <a href="{% url 'bookcase-list' %}" class="button border">
                    <i>cancel</i>
                    <span>Cancel</span>
                </a>
            </nav>
        </form>
    </article>



    <script>
        class Bookcase {
            constructor(targetContainer, mergeButton, configInput, config) {
                this.config = config || [];
                this.targetContainer = targetContainer;
                this.mergeButton = mergeButton;
                this.configInput = configInput;
                this.table = null;
                this.selectedCount = 0;

                mergeButton.addEventListener("click", (event) => this.mergeSelected());
            };

            updateRowsCols(rows, cols) {
                const config = [];
                for(var r=0; r<rows; r++) {
                    var row = [];
                    for(var c=0; c<cols; c++) {
                        row.push(
                            {
                                "row": r,
                                "col": c,
                                "rowspan": 1,
                                "colspan": 1,
                                "selected": false,
                            }
                        );
                    }
                    config.push(row);
                }
                this.config = config;
                this.draw();
            }

            updateMergeButton() {
                this.mergeButton.disabled = this.selectedCount < 2;
            }

            getCell(row, col) {
                for(const _row of this.config) {
                    for(const cell of _row) {
                        if(cell.row == row && cell.col == col) {
                            return cell;
                        }
                    }
                }
            }

            mergeSelected() {
                const toBeMerged = [];
                for(const row of this.config) {
                    for(const col of row) {
                        if(col.selected) {
                            toBeMerged.push(col);
                        }

                    }
                }

                if (toBeMerged.length < 2) return;

                const toKeep = toBeMerged.shift();
                let rowspan = toKeep.rowspan;
                let colspan = toKeep.colspan;

                for(const item of toBeMerged) {
                    if(item.row !== toKeep.row && item.col === toKeep.col) {
                        rowspan += item.rowspan;
                    }
                    if(item.col !== toKeep.col && item.row === toKeep.row) {
                        colspan += item.colspan;
                    }
                }

                toKeep.rowspan = rowspan;
                toKeep.colspan = colspan;

                const newConfig = [];
                for(const row of this.config) {
                    const newRow = [];
                    for(const cell of row) {
                        if(!toBeMerged.includes(cell)) {
                            cell.selected = false;
                            newRow.push(cell);
                        }
                    }

                    newConfig.push(newRow);
                }
                this.config = newConfig;
                this.selectedCount = 0;
                this.updateMergeButton();
                this.draw();
            }

            draw() {
                const table = document.createElement("table");
                table.classList.add("bookcaseTable");

                for(const row of this.config) {
                    const tr = table.insertRow();
                    for(const cell of row) {
                        const td = tr.insertCell()

                        td.setAttribute("rowSpan", cell.rowspan);
                        td.setAttribute("colSpan", cell.colspan);

                        td.dataset.row = cell.row;
                        td.dataset.col = cell.col;
                        if(cell.selected) {
                            td.dataset.selected = true;
                        };
                    }
                }


                if(this.table) { this.table.remove(); }

                this.table = table;
                this.targetContainer.appendChild(table);
                this.table.addEventListener("click", (event) => this.onClick(event));
                this.configInput.value = JSON.stringify(this.config);
            };
            onClick(event) {
                const td = event.target.closest("td");
                const cell = this.getCell(td.dataset.row, td.dataset.col);
                cell.selected = !cell.selected;
                this.draw();
                this.selectedCount += 1;
                this.updateMergeButton();
            }
        };

        const rows = document.getElementsByName("rows")[0];
        const columns = document.getElementsByName("columns")[0];

        const targetContainer = document.getElementById("bookcaseTableContainer")
        const mergeButton = document.getElementById("mergeTableCellsButton");
        const configInput = document.getElementById("configInput");
        const bookcase = new Bookcase(targetContainer, mergeButton, configInput);

        function updateTable() {
            if(rows && columns && rows.value > 0 && columns.value > 0) {
                bookcase.updateRowsCols(rows.value, columns.value);
            }
        }
        updateTable();

        rows.addEventListener("input", updateTable);
        columns.addEventListener("input", updateTable);
    </script>
    <style>
        .bookcaseTable {
            border-collapse: separate;
            border: solid black 1px;
            border-radius: 6px;

            & td, & th {
                border-left:solid black 1px;
                border-top:solid black 1px;
                padding-top: 40px;
            }
            & td:hover {
                cursor: pointer;
                background-color: var(--on-primary);
            }
            & td[data-selected] {
                background-color: var(--primary);
            }
        }
    </style>
{% endblock %}
