:root,
body.light {
    --primary:#9a4522;
    --on-primary:#ffffff;
    --primary-container:#ffdbcf;
    --on-primary-container:#380d00;
    --secondary:#77574c;
    --on-secondary:#ffffff;
    --secondary-container:#ffdbcf;
    --on-secondary-container:#2c160d;
    --tertiary:#695e2f;
    --on-tertiary:#ffffff;
    --tertiary-container:#f2e2a8;
    --on-tertiary-container:#211b00;
    --error:#ba1a1a;
    --on-error:#ffffff;
    --error-container:#ffdad6;
    --on-error-container:#410002;
    --background:#fffbff;
    --on-background:#201a18;
    --surface:#fff8f6;
    --on-surface:#201a18;
    --surface-variant:#f5ded6;
    --on-surface-variant:#53433e;
    --outline:#85736d;
    --outline-variant:#d8c2bb;
    --shadow:#000000;
    --scrim:#000000;
    --inverse-surface:#362f2c;
    --inverse-on-surface:#fbeeea;
    --inverse-primary:#ffb59a;
    --surface-dim:#e4d7d4;
    --surface-bright:#fff8f6;
    --surface-container-lowest:#ffffff;
    --surface-container-low:#fef1ed;
    --surface-container:#f8ebe7;
    --surface-container-high:#f3e5e2;
    --surface-container-highest:#ede0dc;
}
