{% extends 'books/base.html' %}

{% block title %}{{ author.name }}{% endblock %}

{% block content %}
    <article>
        <nav>
            <a href="{% url 'author-list' %}" class="button border">
                <i>arrow_back</i>
                <span>Back to List</span>
            </a>
        </nav>

        <div class="grid">
            <div class="s12 m4">
                <img class="responsive" src="{{ author.get_image_url }}">
            </div>
            <div class="s12 m8">
                <h3>{{ author.name }}</h3>
                <strong>Country:</strong>
                {% if author.country %}
                    {{ author.country_emoji }} ({{ author.country }})
                {% else %}
                    -
                {% endif %}
                <br />
                <strong>Gender:</strong> {{ author.gender|default:"Not available" }}
                <br />
                <strong>Birth date:</strong> {{ author.birth_date|default:"Unknown" }}
            </div>
            <div class="s12 m12">
                {% for book in author.books.all %}
                    <a href="{% url "book-detail" pk=book.pk %}" title="{{ book.title }}">
                        <img src="{{ book.get_cover_url }}"/>
                    </a>
                {% endfor %}
            </div>
        </div>
    </article>
    <style>
        a img {
            max-height: 200px;
        }
    </style>
{% endblock content %}
